<script src="<%= javascript_path('base.js') %>"></script>
<div id="wrapper">
    <div class="spinner-container"></div>
    <div id="map"></div>
    
    <div class="current-year-container">
        <div class="city-container">
            <div class="city">Buenos Aires</div><input class="current-year" type="number" />
        </div>
        <div class="information"> 
        </div>
        <div class="info-toggler fa fa-angle-double-down"></div>
    </div>
    <div class="footer">
    <div class="panel-container">
        <div class='tab-container'>
            <div class="tab layers"><span class="tab-icon fa fa-list"></span></div>
            <div class="tab about not-selected"><span class="tab-icon fa fa-info"></span></div>
        </div>
        <div class="panel">
            <div class="panel-close"><span>×</span></div>
            <div class="content layers">
                <h1>Líneas y planes</h1>
            </div>
            <div class="content about">
                <h1>Sobre Subtograma</h1>
                <p>Quiero construir una historia visual del Subte de Buenos Aires y de sus proyectos.</p>
                <p>Contactame en <a target="_blank" href="https://twitter.com/SalernoBr">@SalernoBr</a>, y/o contribuí en el <a target="_blank" href="https://github.com/BrunoSalerno/subtograma">repositorio de GitHub</a><p>
            </div>
        </div>
    </div>
    <div class = "slider">
        <div class="share">
            <!-- AddToAny BEGIN -->
            <div class="a2a_kit a2a_kit_size_24 a2a_default_style">
                <a class="a2a_dd" href="https://www.addtoany.com/share_save"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_google_plus"></a>
            </div>
            <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
            <!-- AddToAny END -->
        </div>
        <div class="logo">
            <span class="fa fa-subway" style="margin-right:10px;margin-left:5px;font-size:0.9em"></span><%= settings.title %>
        </div>
        <div class="reference-container">
            <div class="action-container">
                <span class="action fa fa-play"></span>
            </div>
            <div class="year-hover"></div>
            <div class="reference">
                <div class="year-marker"></div>
            </div>
        </div>
    </div>
    </footer>
</div>
