<script src="<%= javascript_path('bundle.js') %>"></script>
<div class="spinner-container spinner"></div>
<div id="panel">
        <div class="panel-header o-grid__cell o-grid__cell--width-100"> 
            <h3 class="c-heading c-heading--medium"><%= @city.name %></h3>
            <div class="c-input-group">
                <button id="action" class="c-button c-button--secondary"> <span class="fa fa-play"></span> </button>
                <input id="current-year" class="c-field" type="number" /> 
            </div>
            <input id="slider" type="range" class="c-range" />
            <span id="km-total" class="c-badge c-badge--primary" style="display:none;"></span>
            <span id="km-operating" class="c-badge c-badge--success" style="display:none;"></span>
            <span id="km-under-construction" class="c-badge" style="display:none;"></span>
        </div>
        <div class="lines-toggler-container">
            <%= erb :"city/lines_toggler" %>
        </div>
</div>
<main class="o-grid__cell o-grid__cell--width-100 o-panel-container">
<div id="map"></div>
</main>
